body{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
}

.container{
    background-color: whitesmoke;
    border: 3px solid black;
    color: black;
    width: 40vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-first{
    padding-bottom: 0.2vh;
    padding-top: 0.2vh;
    background-color: #2ac290;
    border: 2px solid black;
    width: 40.8vh;
    height: 45.8vh;
    display: flex;
    align-self: center;
    margin: 10vh;
}

table{
    margin-top: 5vh;
    border-collapse: collapse;
}
th{
    width: auto;
    height: 3vh;
    margin: 2vh;
    padding: 2vh;
    border: medium solid #2ac290;
    border-radius: 5%;
    font-size: 2vh;
    cursor: pointer;
}
td {
    text-align: center;
    width: auto;
    height: 3vh;
    margin: 2vh;
    padding: 2vh;
    border: medium solid rgb(111,113,114);
    font-size: 2vh;
}

.imgLogo{
    height: 3vh;
    width: 3vh;
}

.global{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cacher{
    display: none;
}

@media screen and (max-width: 992px) {
    .global{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .cacher{
        display: flex;
    }
    .afficher{
        display: none;
    }
}