@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

p,h2,input{
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerInscription{
    margin-top: 10vh;
    margin-bottom: 10vh;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    border: solid 1px lightgray;
    border-radius: 5px 5px;
    width: 50vh;
    height: auto;
    color: black;   
    padding-bottom: 5vh;
}

img{
    margin-top: 20px;
}

#bouton {
    margin-top: 20px;
    color: black;
    border-radius: 8px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  input{
      cursor: pointer;
  }

p{
    font-size: 20px;
}